.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  gap: 1rem;
  padding: 4rem 0;
  background-color: #FFFFFF;
  height: 86.3vh;
}


.user-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 74vw;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79vw;
  background-color: rgb(241, 238, 238);
  padding: 1rem;
  gap: 1rem;
}



.user-containe {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;
  transition: 350ms;
}



.username-container {
  width: 10vw;
  text-align: left;

}

.username {
  color: rgb(86, 82, 82);
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 10%;
  text-align: left;
  transition: 350ms;
}

.contact {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.contact-name {
  color: rgb(86, 82, 82);
}

.contact-container button {
  border: none;
  background-color: rgb(255, 0, 93);
  color: #fff;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-size: 12px;
  cursor: pointer;
  width: fit-content;
}

.accordian-container {
  height: 0;
  overflow: hidden;
  width: 80%;
  transition: 350ms;


}

.close {
  height: auto;
  transition: 350ms;
  width: 90%;
  padding: 3rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.accordian-user-details {
  display: flex;
  /* padding: 0 4rem; */
}



.accordian-right {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 30%;
}

.accordion-contact-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: left;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination-container button {
  border: none;
  background-color: #FFFFFF;
  color: #5c5656;
}

i {
  cursor: pointer;
}

.num {
  padding: .6rem;
  cursor: pointer;
  border: none;
  background-color: rgb(255, 254, 254);
  color: #000;
}

@media(max-width:871px) {
  .page {
    width: 100vw;
  }

  .user-container {
    width: 97vw;
  }
}

@media(max-width:659px) {
  .page {
    width: 100vw;
  }

  .user-container {
    width: 100vw;
  }
}

@media(max-width:667px) {
  .user-containe {
    gap: 1rem;
    padding: 1rem;
  }

  .page {
    padding: 1rem 0;
  }

  .close {
    width: 80%;
  }
}

@media(max-width:739px) {
  .accordian-user-details {
    justify-content: space-around;
  }
}